  /*
  * Font Settings
  */

$font-arial				: "Arial", Helvetica, sans-serif;

 /*
  * Color settings
  *
  * How to use color variables:
  * http://davidwalsh.name/sass-color-variables-dont-suck
  * http://chir.ag/projects/name-that-color/
  */

$color-white			: #ffffff;
$color-black			: #000000;
$color-dusty-gray		: #999999;
$color-alabaster		: #fbfbfb;