@import "compass";


  /*
  * Font Settings
  */

$font-arial				: "Arial", Helvetica, sans-serif;

$base-font-size			: 12px;
$base-line-height		: 20px;

@include establish-baseline;


 /*
  * Color settings
  *
  * How to use color variables:
  * http://davidwalsh.name/sass-color-variables-dont-suck
  * http://chir.ag/projects/name-that-color/
  */

$color-white			: #ffffff;
$color-black			: #000000;

$color-alabaster		: darken($color-white, 2);
$color-dusty-gray		: darken($color-white, 40);