@import "compass";
@import "functions/functions";


 /*
  * Font Settings
  */

$font-arial                  : "Arial", Helvetica, sans-serif;

$base-font-size              : 12px;
$base-line-height            : 20px;
$base-line-height-headlines  : (strip-units($base-line-height) / strip-units($base-font-size));
$round-to-nearest-half-line  : true;

@include establish-baseline;


 /*
  * Color settings
  *
  * How to use color variables:
  * http://davidwalsh.name/sass-color-variables-dont-suck
  * http://chir.ag/projects/name-that-color/
  */

$color-white        : #ffffff;
$color-black        : #000000;

$color-alabaster    : darken($color-white, 2);
$color-dusty-gray   : darken($color-white, 40);


 /*
  * Icon settings
  *
  * How to use icon variables and the new map function:
  * http://jaydenseric.com/blog/fun-with-sass-and-font-icons
  *
  * To use data types "maps", use the alpha version of Compass
  * http://stackoverflow.com/questions/22515932/use-map-data-type-with-compass
  */

$icons: (
  "icon1"           : "\f00a",
  "icon2"           : "\f00c"
);