@import "compass";
@import "variables";
@import "mixins/mixins";

@media screen, projection {

  html {
    overflow-y:scroll;
    height:100%;
  }

  body {
    font-weight:normal;
    font-family:$font-arial;
    height:100%;
    -webkit-text-size-adjust: none;
  }
  
 /*------------------------------------------------------------------------*/
  
 /**
  * Normalize content elements
  */

  * {
    @include box-sizing(border-box);

    &:before, &:after {
      @include box-sizing(border-box);
    }
  }

  *[style~="font-size"] { }
  *[style~="margin"] { }

  a {
    color:$color-black;
    text-decoration:underline;

    &:visited {
      color:$color-black;
    }

    &:hover {
      text-decoration:none;
    }

    &:focus {
      outline:thin dotted;
    }
  }

  em, i {
    font-style:italic;
  }

  strong, b {
    font-weight:700;
  }

  input[type="text"]:focus, 
  input[type="password"]:focus, 
  input[type="date"]:focus, 
  input[type="datetime"]:focus, 
  input[type="email"]:focus, 
  input[type="number"]:focus, 
  input[type="search"]:focus, 
  input[type="tel"]:focus, 
  input[type="time"]:focus, 
  input[type="url"]:focus, 
  textarea:focus {
    background:none repeat scroll 0 0 $color-alabaster;
    border:1px solid $color-dusty-gray;
  }

  input, textarea, select {
    border:1px solid $color-dusty-gray;
    font-family:$font-arial;
  }

  .main p {
    padding:8px 0;
  }

 /*------------------------------------------------------------------------*/

  #wrapper {

  }
  
 /*------------------------------------------------------------------------*/

  header {

  }

  h1 {
  /* 
    width:0px;
    height:0px; 
   */

    a {
    /*
      display:block;
      width:0px;
      height:0px;
      text-indent:-99999px;
      @include background-image-retina('logo', 'png', 0px, 0px);
      background-color:transparent;
      background-repeat:no-repeat;
      background-position:center center;
     */
    }
  }

 /*------------------------------------------------------------------------*/

 /**
  * Navigation elements
  */

  nav {

    ul {

    }

    li {

      .last {

      }

      .submenu ul {
        background-color:$color-white;
        display:none;
        position:absolute;
        z-index:100;

        .hover, &:hover {
          display:block;
        }
      }

      .submenu li {
        float:none;
      }

      &:hover{

        ul, li {
          display:block;
        }
      }

      a, span {

      }

      .active {

      }
    }
  }

 /*------------------------------------------------------------------------*/

  #container {

  }

  #main {

  }

  aside {

  }

  #right {

  }

  #left {

  }

 /*------------------------------------------------------------------------*/

  footer {

  }

 /*------------------------------------------------------------------------*/

  .clearfix {

    &:before, 
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

    *zoom: 1;
  }

}