@media screen, projection {

  html {
    overflow-y:scroll;
  }
  
  html, body {
    height:100%;
  }

  body {
    font:normal 12px/1.5 Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
  }
  
 /*------------------------------------------------------------------------*/
  
 /**
  * Normalize content elements
  */

  *, *:before, *:after {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    box-sizing:border-box;
  }

  *[style~="font-size"] { }
  *[style~="margin"] { }

  a {
    color:#000;
    text-decoration:underline;
  }

  a:visited { 
    color:#000;
  }

  a:hover { 
    text-decoration:none;
  }

  a:focus {
    outline:thin dotted; 
  }

  em, i {
    font-style:italic;
  }

  strong, b {
    font-weight:700;
  }

  input[type="text"]:focus, 
  input[type="password"]:focus, 
  input[type="date"]:focus, 
  input[type="datetime"]:focus, 
  input[type="email"]:focus, 
  input[type="number"]:focus, 
  input[type="search"]:focus, 
  input[type="tel"]:focus, 
  input[type="time"]:focus, 
  input[type="url"]:focus, 
  textarea:focus {
    background:none repeat scroll 0 0 #FCFCFC;
    border:1px solid #999;
  }

  input, textarea, select {
    border:1px solid gray;
    font-family:Arial, Helvetica, sans-serif;
  }

  .main p {
    padding:8px 0;
  }

 /*------------------------------------------------------------------------*/

  #wrapper {

  }
  
 /*------------------------------------------------------------------------*/

  header {

  }

  h1 {
    /* 
    width:0px;
    height:0px; 
    */
  }

  h1 a {
    /*
    display:block;
    width:inherit;
    height:inherit;
    text-indent:-99999px;
    background:transparent url(../images/logo.png) no-repeat center center;
    */
  }

 /*------------------------------------------------------------------------*/

 /**
  * Navigation elements
  */

  nav {

  }

  nav ul {

  }

  nav li {

  }

  nav li.last {

  }
  
  nav li.submenu ul {
    background-color:#fff;
    display:none;
    position:absolute;
    z-index:100;
  }

  nav li:hover ul, 
  nav li:hover li, 
  nav li.submenu ul.hover {
    display:block;
  }

  nav li.submenu li {
    float:none;
  }

  nav li a,
  nav li span {

  }

  nav li .active {

  }

 /*------------------------------------------------------------------------*/

  #container {

  }

  #main {

  }

  aside {

  }

  #right {

  }

  #left {

  }

 /*------------------------------------------------------------------------*/

  footer {

  }

 /*------------------------------------------------------------------------*/

  .clearfix:before,
  .clearfix:after {
    content:" ";
    display:table;
  }

  .clearfix:after {
    clear:both;
  }

  .clearfix {
    *zoom:1;
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { 

  h1 a {
    /* 
    background-size:0px 0px;
    background-image:url(../images/logo@2x.jpg);
    */
  }

}