@import "compass/css3/box-sizing";

@media screen, projection {

@import "compass/reset";

 /*------------------------------------------------------------------------*/

  body {
    color:$color-black;
    background-color:$color-white;
  }

  input[type="text"], 
  input[type="password"], 
  input[type="date"], 
  input[type="datetime"],
  input[type="email"], 
  input[type="number"], 
  input[type="search"], 
  input[type="tel"], 
  input[type="time"],
  input[type="url"], 
  textarea {
    @include box-sizing(border-box);
    display:inline-block;
  }

  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance:button;
    cursor:pointer;
  }

  button::-moz-focus-inner {
    @include reset-box-model;
  }

  img {
    vertical-align:middle;
  }

  object {
    display:block;
  }

  textarea {
    resize:vertical;
  }

  textarea[contenteditable] {
    -webkit-appearance:none;
  }

  hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid $color-dusty-gray;
    margin:1em 0;
    padding:0;
  }

}