@media (max-width: 80em) { }

@media (max-width: 48em) { }

@media (max-width: 45em) { 

  .subcolumns .first, 
  .subcolumns .mod_colsetPart, 
  .subcolumns .sc_second, 
  .subcolumns > div {
    float:none;
    width:100%;
    margin:0;
  }

  .subcolumns .mod_colsetPart, 
  .subcolumns .sc_second {
    margin-top:0;
  }
  
  .subcolumns .subcl,
  .subcolumns .subcr,
  .subcolumns .subc {
    padding:0 !important;
  }

  .ym-grid .first,
  .ym-grid .ce_colsetStart,
  .ym-grid .ce_colsetPart,
  .ym-grid > div {
    float:none;
    width:100%;
    margin:0;
  }

  .ym-grid .ym-gbox-left,
  .ym-grid .ym-gbox,
  .ym-grid .ym-gbox-right {
    padding:0 !important;
  }

}

@media (max-width: 30em) { }

@media (orientation:portrait) and (orientation:portrait) { }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { }