@media print {
  
  * {
    margin:0;
    padding:0;
    border:0;
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, font, img, ins, kbd, q, s, samp,
  small, strike, sub, sup, tt, var,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
  
  img, object {
    display:block;
    margin:0;
    padding:0;
    border:0;
  }
  
  body {
    width:100%;
    text-align:left;
    margin:0;
    padding:0;
    font:11pt Arial, Helvetica, sans-serif;
    color:#000;
    background-color:#fff;
    background-image:none;
  }
  
 /*------------------------------------------------------------------------*/
  
 /**
  * Hide and reset
  */
  
  h1, h2, h3, h4, h5, h6 {
    font-weight:700;
    margin:0.75em 0 0.5em;
    text-align:left;
    page-break-after:avoid;
  }

  h1 {
    padding:0 0 0.5em;
    border-bottom:1px solid #ccc;
  }

  p {
    margin:0.5em 0;
    font-stretch:expanded;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  
  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content:" (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  
  img {
    padding:0.5em 0;
  }
  
 /*------------------------------------------------------------------------*/
  
  #header {
    width:auto;
    height:auto;
  }
  
  footer, 
  aside,
  nav,
  .pagination {
    display:none;
  }
  
  #main {
    float:none;
    width:auto;
    margin:0;
  }
  
  .subcolumns .first, 
  .subcolumns .mod_colsetPart, 
  .subcolumns .sc_second {
    float:none;
    width:100%;
    margin:0 !important;
  }
  
  .subcolumns .mod_colsetPart, 
  .subcolumns .sc_second {
    margin-top:0 !important;
  }
  
  .subcolumns .subcl,
  .subcolumns .subcr,
  .subcolumns .subc {
    padding:0 !important;
  }

 /*------------------------------------------------------------------------*/

  table {
    width:100%;
  }

}