 /*
  * Normalize the icon font
  */
@mixin normalize-icon-font($font-family:"", $styles: true) {
  @if $font-family {
    font-family:'#{$font-family}';
  }
  @if $styles {
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}