@media only screen and (max-width: 1280px) { }

@media only screen and (max-width: 768px) { }

@media only screen and (max-width: 768px) and (orientation:portrait) and (min-width: 768px) and (orientation:portrait) { }

@media only screen and (max-width: 720px) { 

  .subcolumns .first, 
  .subcolumns .mod_colsetPart, 
  .subcolumns .sc_second, 
  .subcolumns > div {
    float:none;
    width:100%;
    margin:0;
  }

  .subcolumns .mod_colsetPart, 
  .subcolumns .sc_second {
    margin-top:0;
  }
  
  .subcolumns .subcl,
  .subcolumns .subcr,
  .subcolumns .subc {
    padding:0 !important;
  }

  .ym-grid .first,
  .ym-grid .ce_colsetStart,
  .ym-grid .ce_colsetPart,
  .ym-grid > div {
    float:none;
    width:100%;
    margin:0;
  }

  .ym-grid .ym-gbox-left,
  .ym-grid .ym-gbox,
  .ym-grid .ym-gbox-right {
    padding:0 !important;
  }

}

@media only screen and (max-width: 480px) { }