@media print {
  
  * {
    margin:0;
    padding:0;
    border:0;
  }
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, font, img, ins, kbd, q, s, samp,
  small, strike, sub, sup, tt, var,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
  
  img, object {
    display:block;
    margin:0;
    padding:0;
    border:0;
  }
  
  body {
    width:100%;
    text-align:left;
    margin:0;
    padding:0;
    font:12pt Garamond, Palatino, "Times New Roman", Times, serif;
    color:#000;
    background:#fff url(none);
  }
  
 /*------------------------------------------------------------------------*/
  
 /**
  * Hide and reset
  */
  
  h1, h2, h3, h4, h5, h6 {
    font-weight:700;
    margin:0.75em 0 0.5em;
    text-align:left;
    page-break-after:avoid;
  }

  h1 {
    padding:0 0 0.5em;
    border-bottom:1px solid #ccc;
  }

  p {
    margin:0.5em;
    font-stretch:expanded;
  }
  
  a, a:visited, a:hover, a:visited:hover {
    color:#000;
    text-decoration:none;
    background-color:transparent;
  }

  a[href]:after {
    content:" <"attr(href)"> ";
    background-color:inherit;
    font-style:italic;
    font-size:9pt;
  } 

  *[name]:after {
    content:" [#"attr(name)"]";
    background-color:inherit;
    font-style:italic;
    font-size:0.7em;
  } 

  *[title]:after {
    content:" ("attr(title)") ";
    background-color:inherit;
    font-style:italic;
    font-size:0.7em;
  }
  
  img {
    padding:0.5em;
  }
  
 /*------------------------------------------------------------------------*/
  
  #header {
    width:auto;
    height:auto;
  }
  
  footer, 
  aside,
  .mod_backboneit_navigation_menu,
  .mod_changelanguage,
  .mod_navigation,
  .mod_customnav,
  .mod_sitemap,
  .pagination {
    display:none;
  }
  
  #main {
    float:none;
    width:auto;
    margin:0;
  }
  
  .subcolumns .first, 
  .subcolumns .mod_colsetPart, 
  .subcolumns .sc_second {
    float:none;
    width:100%;
    margin:0 !important;
  }
  
  .subcolumns .mod_colsetPart, 
  .subcolumns .sc_second {
    margin-top:20px !important;
  }
  
  .subcolumns .subcl,
  .subcolumns .subcr,
  .subcolumns .subc {
    padding:0 !important;
  }
  
}